In [1]:
3.5

3.5

In [2]:
print("3.4")

3.4

In [3]:
"可寫中文 Python"

'可寫中文 Python'

In [4]:
#布林值
True
False

False

In [5]:
[3,4,5]

[3, 4, 5]

In [6]:
# List
["Hello",56]

['Hello', 56]

In [8]:
(3,4,5)

(3, 4, 5)

In [9]:
# Tuple
("Hello",56)

('Hello', 56)

In [10]:
# Set
{3,4,5}

{3, 4, 5}

In [11]:
{"Hello","555"}

{'555', 'Hello'}

In [12]:
# Dictionary
{"apple":"蘋果","data":"資料"}

{'apple': '蘋果', 'data': '資料'}

In [14]:
"apple"

'apple'

In [15]:
cls
# 清空

In [16]:
# 變數名稱 = 資料
data=3

In [17]:
x=3

In [18]:
print(x)

3

In [19]:
print(3)

3

In [21]:
print(True)

True

In [22]:
print([1,2,3],(3,5,4))

[1, 2, 3] (3, 5, 4)

In [24]:
x

3

In [25]:
(1,2,x)

(1, 2, 3)

In [26]:
x=True

In [42]:
x=7%3
print(x)

1

In [44]:
x=2+3
x=x+1
print(x)

6

In [49]:
x+=1
print(x)

5.0

In [53]:
s="Hell\"o"
print(s)

Hell"o

In [54]:
print("Hello","world")

Hello world

In [56]:
s="Hello" "world"
print(s)

Helloworld

In [59]:
s="Hello\nWorld"
print(s)

Hello
World

In [61]:
# 可用三個雙引號寫多行文字 
s="""Hello
96
159
World"""
print(s)

Hello
96
159
World

In [63]:
s="Hello"*3+"World"
print(s)

HelloHelloHelloWorld

In [64]:
print(s)

HelloHelloHelloWorld

In [65]:
# 字串會對每個字元編號，從 0 開始
s[1]

'e'

In [70]:
s[1:4]

'ell'

In [68]:
s[1:]

'elloHelloHelloWorld'

In [69]:
s[:10]

'HelloHello'

In [71]:
grades=[12,15,60,70,99]
print(grades)

[12, 15, 60, 70, 99]

In [72]:
grades[1]

15

In [73]:
grades[0:2]

[12, 15]

In [74]:
grades[0]=55

In [75]:
grades

[55, 15, 60, 70, 99]

In [81]:
grades[1:4]=[]
# 將 15,60,70 設成空白

In [82]:
grades

[55, 12, 33]

In [83]:
grades=grades+[12,33]
grades

[55, 12, 33, 12, 33]

In [85]:
length=len(grades)
length

5

In [95]:
data=[[3,4,5],[6,7,8]]
data
data[0][0:2]

[3, 4]

In [96]:
data[0][0:2]=[5,5,5]
data

[[5, 5, 5, 5], [6, 7, 8]]

In [97]:
data=(3,4,5)
data

(3, 4, 5)

In [98]:
data[0:2]

(3, 4)

In [99]:
data[0]=5 #把 5 換成 3 會是錯誤，因為 TUPLE 資料不可更動

TypeError: 'tuple' object does not support item assignment

In [101]:
s1={3,4,5}
s1

{3, 4, 5}

In [102]:
3 in s1

True

In [103]:
10 in s1

False

In [104]:
10 not in s1

True

In [106]:
s1={3,4,5}
s2={4,5,6,7}
s3=s1&s2 #交集
s3

{4, 5}

In [107]:
s1={3,4,5}
s2={4,5,6,7}
s3=s1|s2 #聯集
s3

{3, 4, 5, 6, 7}

In [108]:
s3=s1-s2 # 差集
s3

{3}

In [109]:
s3=s2-s1
s3

{6, 7}

In [110]:
s3=s1^s2 #反交集:兩個集合中，沒有重疊的部分
s3

{3, 6, 7}

In [112]:
s=set("Hello") #set(字串) 拆解
s

{'H', 'e', 'l', 'o'}

In [113]:
"H" in s

True

In [114]:
# Dictionary : key value 配對
dic={"apple":"蘋果","bug":"蟲蟲"}
dic["apple"]

'蘋果'

In [116]:
dic["apple"]="小蘋果"
dic
dic["apple"]

'小蘋果'

In [117]:
"apple" in dic # 是判斷 KEY 非 value

True

In [118]:
"蟲蟲" in dic

False

In [120]:
dic={"apple":"蘋果","bug":"蟲蟲"}
del dic["apple"] #刪除字典中的鍵值對
dic

{'bug': '蟲蟲'}

In [123]:
dic={x:x*2 for x in [1,2,3]}

In [124]:
dic

{1: 2, 2: 4, 3: 6}

In [129]:
dic={x:x*2 for x in ("H",4,5)}
dic

{'H': 'HH', 4: 8, 5: 10}

In [131]:
if True:
    print("True 執行")

True 執行

In [133]:
if False:
    print("True 執行")
else:
    print("False 執行")

False 執行

In [134]:
x=input("請輸入數字: ") #取得字串形式的使用者輸入

請輸入數字: 12

In [135]:
x

'12'

In [136]:
x=int(x) #將字串型態轉為數字型態

In [138]:
x=input("請輸入數字: ") #取得字串形式的使用者輸入
x=int(x)
if x > 100:
    print("大於 100 ")
else:
    print("小於等於 100")

請輸入數字: 500
大於 100

In [140]:
x=input("請輸入數字: ") #取得字串形式的使用者輸入
x=int(x)
if x > 200:
    print("大於 200 ")
elif x > 100:
    print("大於 100，小於等於 200 ")
else:
    print("小於等於 100")

請輸入數字: 50
小於等於 100

In [141]:
x=input("請輸入數字: ") #取得字串形式的使用者輸入
x=int(x)
if x > 200:
    print("大於 200 ")
elif x > 100:
    print("大於 100，小於等於 200 ")
else:
    print("小於等於 100")

請輸入數字: 400
大於 200

In [142]:
#四則運算
n1=int(input("請輸入數字: "))
n2=int(input("請輸入數字: "))
n1+n2

請輸入數字: 5
請輸入數字: 7

12

In [144]:
#四則運算
n1=int(input("請輸入數字: "))
n2=int(input("請輸入數字: "))
op=input("請輸入運算:+,-,*,/:")
if op=="+":
    print(n1+n2)
elif op=="-":
    print(n1-n2)
elif op=="*":
    print(n1*n2)
elif op=="/":
    print(n1/n2)
else:
    print("不支援的運算")

請輸入數字: 88
請輸入數字: 8
請輸入運算:+,-,*,/:/
11.0