In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randn(5,3),
                  index=list(range(1,6)),
                  columns=list("ABC"))

In [3]:
df

          A         B         C
1 -2.046018  0.907933  1.031574
2  1.523586 -0.161937 -0.150090
3 -0.846672  1.304853 -0.769114
4  1.003499 -1.494500 -0.283758
5  0.083780 -0.117872  1.369199

In [4]:
df[df.B>0]

          A         B         C
1 -2.046018  0.907933  1.031574
3 -0.846672  1.304853 -0.769114

In [5]:
# 若 B > 0，C = 0
df.loc[2:3,"B":"C"]

          B         C
2 -0.161937 -0.150090
3  1.304853 -0.769114

In [6]:
df.loc[2,"B"]

-0.16193697400171272

In [7]:
df.loc[2,"B"] = 1

In [8]:
df

          A         B         C
1 -2.046018  0.907933  1.031574
2  1.523586  1.000000 -0.150090
3 -0.846672  1.304853 -0.769114
4  1.003499 -1.494500 -0.283758
5  0.083780 -0.117872  1.369199

In [9]:
df.loc[df.B>0,"C"]=0 # 若 B > 0，C = 0

In [10]:
df

          A         B         C
1 -2.046018  0.907933  0.000000
2  1.523586  1.000000  0.000000
3 -0.846672  1.304853  0.000000
4  1.003499 -1.494500 -0.283758
5  0.083780 -0.117872  1.369199