In [1]:
ironmen = [46, 8, 11, 11, 4, 56]

In [2]:
articles = ironmen * 30

In [3]:
articles

[46,
 8,
 11,
 11,
 4,
 56,
 46,
 8,
 11,
 11,
 4,
 56,
 46,
 8,
 11,
 11,
 4,
 56,
 46,
 8,
 11,
 11,
 4,
 56,
 46,
 8,
 11,
 11,
 4,
 56,
 46,
 8,
 11,
 11,
 4,
 56,
 46,
 8,
 11,
 11,
 4,
 56,
 46,
 8,
 11,
 11,
 4,
 56,
 46,
 8,
 11,
 11,
 4,
 56,
 46,
 8,
 11,
 11,
 4,
 56,
 46,
 8,
 11,
 11,
 4,
 56,
 46,
 8,
 11,
 11,
 4,
 56,
 46,
 8,
 11,
 11,
 4,
 56,
 46,
 8,
 11,
 11,
 4,
 56,
 46,
 8,
 11,
 11,
 4,
 56,
 46,
 8,
 11,
 11,
 4,
 56,
 46,
 8,
 11,
 11,
 4,
 56,
 46,
 8,
 11,
 11,
 4,
 56,
 46,
 8,
 11,
 11,
 4,
 56,
 46,
 8,
 11,
 11,
 4,
 56,
 46,
 8,
 11,
 11,
 4,
 56,
 46,
 8,
 11,
 11,
 4,
 56,
 46,
 8,
 11,
 11,
 4,
 56,
 46,
 8,
 11,
 11,
 4,
 56,
 46,
 8,
 11,
 11,
 4,
 56,
 46,
 8,
 11,
 11,
 4,
 56,
 46,
 8,
 11,
 11,
 4,
 56,
 46,
 8,
 11,
 11,
 4,
 56,
 46,
 8,
 11,
 11,
 4,
 56,
 46,
 8,
 11,
 11,
 4,
 56]

In [4]:
ironmen = [46, 8, 11, 11, 4, 56]
article_multiplier = [30, 30, 30, 30, 30, 30]
articles = ironmen * article_multiplier
print(articles)

TypeError: can't multiply sequence by non-int of type 'list'

In [5]:
import numpy

In [6]:
ironmen = numpy.array([46, 8, 11, 11, 4, 56])

In [7]:
ironmen = numpy.array([46, 8, 11, 11, 4, 56])

In [8]:
print(ironmen) # 看看 ironmen 的外觀
print(type(ironmen)) # 看看 ironmen 的資料結構

[46  8 11 11  4 56]
<class 'numpy.ndarray'>

In [9]:
 articles = ironmen * 30
print(articles)

[1380  240  330  330  120 1680]

In [10]:
import numpy as np

In [11]:
ironmen = np.array([46, 8, 11, 11, 4, 56]) # 將 list 透過 numpy 的 array 方法進行轉換
print(ironmen) # 看看 ironmen 的外觀
print(type(ironmen)) # 看看 ironmen 的資料結構
articles = ironmen * 30
print(articles)

[46  8 11 11  4 56]
<class 'numpy.ndarray'>
[1380  240  330  330  120 1680]

In [12]:
my_np_array = np.array([1, True])
print(my_np_array.dtype) # int64

int32

In [13]:
print(my_np_array)

[1 1]

In [14]:
my_np_array = np.array([1, True, "one"])
print(my_np_array.dtype) # unicode_21

<U11

In [15]:
import numpy as np

my_2d_array = np.array([[1, True],
                        [0, False]])
print(my_2d_array)

my_2d_array = np.array([[1, True],
                        ["zero", False]])
print(my_2d_array)

[[1 1]
 [0 0]]
[['1' 'True']
 ['zero' 'False']]

In [16]:
import numpy as np

my_np_array = np.array([1, 2, 3, 4])
print(my_np_array ** 2)

my_2d_array = np.array([[1, 3],
                        [2, 4]])
print(my_2d_array ** 2)

[ 1  4  9 16]
[[ 1  9]
 [ 4 16]]

In [17]:
import numpy as np

ironmen = np.array([46, 8, 11, 11, 4, 56])
print(ironmen[0]) # 選出 Modern Web 組的鐵人數
print(ironmen > 10) # 哪幾組的鐵人數超過 10 人
print(ironmen[ironmen > 10]) # 超過 10 人的鐵人數

46
[ True False  True  True False  True]
[46 11 11 56]

In [18]:
import numpy as np

ironmen_2d_array = np.array([[46, 11, 4],
                            [8, 11, 56]])
print(ironmen_2d_array.size) # 6
print(ironmen_2d_array.shape) # (2, 3)

6
(2, 3)