In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
mydata = np.random.rand(4,3)

In [3]:
mydata

array([[ 0.17618031,  0.41756156,  0.45762279],
       [ 0.43332073,  0.77814337,  0.00228424],
       [ 0.81103432,  0.7260668 ,  0.67244394],
       [ 0.84468956,  0.02026382,  0.05194843]])

In [4]:
list("ABCDE")

['A', 'B', 'C', 'D', 'E']

In [5]:
list("甲乙丙丁") #字串與序列轉換

['甲', '乙', '丙', '丁']

In [6]:
df1 = pd.DataFrame(mydata, columns=list("ABC"))

In [7]:
df1

          A         B         C
0  0.176180  0.417562  0.457623
1  0.433321  0.778143  0.002284
2  0.811034  0.726067  0.672444
3  0.844690  0.020264  0.051948

In [8]:
df2 = pd.DataFrame(np.random.randn(3,3),columns=list("ABC"))

In [9]:
df2

          A         B         C
0 -0.157574  0.553368 -0.332373
1  0.071714 -0.962472 -0.049562
2 -0.527448  0.828685  0.861513

In [10]:
df3 = pd.concat([df1,df2], axis = 0) #列的方向 0, 行的方向 1

In [11]:
df3

          A         B         C
0  0.176180  0.417562  0.457623
1  0.433321  0.778143  0.002284
2  0.811034  0.726067  0.672444
3  0.844690  0.020264  0.051948
0 -0.157574  0.553368 -0.332373
1  0.071714 -0.962472 -0.049562
2 -0.527448  0.828685  0.861513

In [12]:
df3.index = range(7)

In [13]:
df3

          A         B         C
0  0.176180  0.417562  0.457623
1  0.433321  0.778143  0.002284
2  0.811034  0.726067  0.672444
3  0.844690  0.020264  0.051948
4 -0.157574  0.553368 -0.332373
5  0.071714 -0.962472 -0.049562
6 -0.527448  0.828685  0.861513

In [14]:
df4 = pd.concat([df1,df2], axis = 1)

In [15]:
df4

          A         B         C         A         B         C
0  0.176180  0.417562  0.457623 -0.157574  0.553368 -0.332373
1  0.433321  0.778143  0.002284  0.071714 -0.962472 -0.049562
2  0.811034  0.726067  0.672444 -0.527448  0.828685  0.861513
3  0.844690  0.020264  0.051948       NaN       NaN       NaN